*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal; 
}

html, body, #root{
  background-color: #efefef;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
